@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), url(./font/ProximaNova-Regular.ttf) format('truetype');
  
}

@font-face {
  font-family: 'ProximaNova-light';
  src: local('ProximaNova-light'), url(./font/ProximaNova-Light.ttf) format('truetype');
  
}

body {
  margin: 0;
  font-family: ProximaNova, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F7F7F8;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

