.bg-head {
  position: relative;;
  width: 100%;
  min-height: 700px;
  background: #6527D9;
  border-radius: 12px;
  font-family: ProximaNova, serif;
}



.slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 80px 0px 80px;
  
}

.slide-text {
  width: 824px;
  height: auto;
  color: white;
  font-size: 35px;
  font-weight: 400;
  margin-right: 44px;
}

.slide-avatar {
  width: 388px;
  height: 388px;
  margin-bottom: 20px;
  border-radius: 50%;
  background: linear-gradient(41.63deg, #FFFFFF -130%, rgba(255, 255, 255, 0.1) 84.6%);
  
}

.user {
  display: flex;
  margin-top: 32px;
}

.slide-name {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.slide-instagram {
  color: white;
  font-size: 24px;
  
  margin-left: 15px;
  font-family: ProximaNova-light, serif;
}

.navigation {
  display: flex;
  position: absolute;
  right: 100px;
  bottom: 100px;
}

.rightArrow {
  width: 50px;
  height: 50px;
  background-color: rgba(99, 114, 130, 0.034);
  border-radius: 50%;
  font-size: 5px;
}

.leftArrow {
  width: 50px;
  height: 50px;
  background-color: rgba(99, 114, 130, 0.034);
  border-radius: 50%;
  margin-right: 20px;
  font-size: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: white;
  font-size: 1px;
}
